* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.search-card {
    margin: 20px;
    border: 1px solid #EB6864;
    padding: 20px;
}

.search-card h3 {
    margin-bottom: 40px;
}

.search-card form {
    display: flex;
    flex-direction: column;
}

.search-card button {
    width: 140px;
    align-self: flex-end;
}